/* services.css */

body {
    background-image: url('rahh.jpg'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover; /* Ensures the image covers the whole background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background image fixed in place */

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000000;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #a9a9a995;
}

section#services {
    padding: 20px;
}

section#services h1 {
    text-align: center;
    margin-bottom: 20px;
}

.service-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.service-item h2 {
    color: #000000;
}

.service-item p {
    margin: 10px 0;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}